/* CSS For index.html */
:root {
  --lg-gap-size: 1rem;
}

body {
  margin: 0.5rem;
  min-height: 100vh;
  background: #f0f0f0;
}

main {
  display: flex;
  flex-direction: row;
  gap: var(--lg-gap-size);
  padding-bottom: var(--lg-gap-size);
  flex: 1;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  background-color: #ccc;
  background-size: cover;
  background-position: center;
}

.about-me {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--lg-subtext);
  padding-top:0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  width: 100%;
}

.about-me div:nth-child(1) {
  font-size:1.5rem;
  color:var(--lg-text);
}

.about-me div:nth-child(2) {
  font-size: 1.1rem;
}

.main-info {
  font-size: 1rem;
  flex: 1;
  max-width: none;
  padding: 0.3rem;
  border-radius: 1rem;
}

.links {
  padding:0.3rem;
  display:grid;
}
.links div:nth-child(1) {
  font-size: 1.3rem;
  text-align:center;
}

.links div:nth-child(2) {
  text-align: center;
}

.links img {
  background-color: white;
  width: 4.5rem;
  padding: 0.5rem;
  object-fit: contain;
  aspect-ratio: 1;
  border-radius: 1rem;
  transition: 0.2s;
  margin:0.1rem;
}

.links img:hover {
  padding: 0.4rem;
  margin: 0.2rem;
  background-color: #e0e0e0;
}

.links img:active {
  padding: 0.6rem;
  margin:0rem;
  background-color: #606060;
}
