body{
	background-color: #111120;
}
.links{
	justify-content: center;
	text-align: center;
	width:100%;
}
th, a{
	font-size:2vw;
	text-align: center;
}
a:link{
	color: #77C;
}
a:visited{
	color: #55C;
}
a:hover{
	color: #66C;
}
a:active{
	color:#22D;
}

img{
	/*width:8vw;*/
	height:4vw;
}
h2{
	text-align: center;
	color:white;
	font-size: 3vw;
	font-family: 'Segoe UI', Arial;
}
.header{
	text-align: center;
	color: white;
	font-size: 7vh;
	font-weight: bold;
	width:100%;
	font-family: 'Segoe UI', Arial;
}
.hd{
	position: absolute;
	left:50%;
	transform: translate(-52%,5%) rotate(-1.1deg);
	color: rgba(255,255,255,0.2);
	z-index: -1;
}
main{
	position: absolute;
	left:50%;
	transform: translate(-50%,0%);
	background-color: #88888880;
	width: 70%;
	aspect-ratio: 1/1;
	border-radius: 2vw 2vw;
}